awesome/themes/blackburn_custom/icons/topbar/1920,0.png

*.pyc

vim/bundle/*
vim/.netrwhist
vim/UltiSnips/

nvim/plugged
nvim/autoload
nvim/UltiSnips
nvim/spell
nvim/undo
nvim/.init.vim-rplugin~
nvim/shada/
 
tags.lock
tags.temp
