awesome/themes/blackburn_custom/icons/topbar/1920,0.png

*.pyc

vim/bundle/*
vim/.netrwhist
vim/UltiSnips/

nvim/.init.vim-rplugin~
nvim/.netrwhist
nvim/UltiSnips
nvim/autoload
nvim/plugged
nvim/shada/
nvim/spell
nvim/undo
 
tags.lock
tags.temp
